<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Contact Info</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="First Name" ng-model="CustomerSettingCtrl.firstName">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Last Name" ng-model="CustomerSettingCtrl.lastName">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Phone Number</span>
        <input type="text" placeholder="Phone Number" ng-model="CustomerSettingCtrl.phone">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email" ng-model="CustomerSettingCtrl.email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Food Allergies</span>
        <input type="text" placeholder="Food Allergies" ng-model="foodAllergies">
      </label>
    </div>
    <div class="bar bar-footer">
      <button class="button button-full button-positive" ng-click="CustomerSettingCtrl.updateUser(CustomerSettingCtrl.firstName, CustomerSettingCtrl.lastName, CustomerSettingCtrl.phone, CustomerSettingCtrl.email)">SAVE</button>
    </div>
  </ion-content>
</ion-view>
