<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button" ui-sref="customer.home">Cancel</button>
    <h1 class="title">Edit Profile</h1>
    <div class="buttons">
      <button class="button" ng-click="CustomerSettingCtrl.updateUser()">Right Button</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="First Name" ng-model="CustomerSettingCtrl.firstName">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Last Name" ng-model="CustomerSettingCtrl.lastName">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Phone Number</span>
        <input type="text" placeholder="Phone Number" ng-model="CustomerSettingCtrl.phone">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email" ng-model="CustomerSettingCtrl.email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Food Allergies</span>
        <input type="text" placeholder="Food Allergies" ng-model="foodAllergies">
      </label>
    </div>
  </ion-content>
</ion-view>
